In [2]:
import numpy as np
import pandas as pd
import collections
from matplotlib import pyplot as plt
import seaborn as sns

In [9]:
# load the data set
steam = pd.read_csv("steam-200k.csv", header=None, index_col=None,\
names=['ID', 'GameName', 'Action', 'Hours', 'Empty'])
steam.head()

          ID                    GameName    Action  Hours  Empty
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0      0
1  151603712  The Elder Scrolls V Skyrim      play  273.0      0
2  151603712                   Fallout 4  purchase    1.0      0
3  151603712                   Fallout 4      play   87.0      0
4  151603712                       Spore  purchase    1.0      0

In [10]:
# Remove the purchase flag. That will get rid of expansions and other 'games' in this list 
#that shouldn't be counted

steam = steam.loc[steam['Action'] == 'play']

# Pretty limited data set and appears to be a couple years old. For the full project I intend to update this
# data using steam's API and merging it using subscriber data from twitch.tv. 

# delete final column
del steam['Empty']

In [11]:
steam.head()

          ID                    GameName Action  Hours
1  151603712  The Elder Scrolls V Skyrim   play  273.0
3  151603712                   Fallout 4   play   87.0
5  151603712                       Spore   play   14.9
7  151603712           Fallout New Vegas   play   12.1
9  151603712               Left 4 Dead 2   play    8.9

In [14]:
len(steam.GameName.unique())

3600

In [17]:
len(steam.ID.unique())

11350

In [22]:
Tophours = steam.groupby("GameName", as_index=True).Hours.aggregate('sum')

In [27]:
Tophours.sort_values(ascending=False).head()

GameName
Dota 2                             981684.6
Counter-Strike Global Offensive    322771.6
Team Fortress 2                    173673.3
Counter-Strike                     134261.1
Sid Meier's Civilization V          99821.3
Name: Hours, dtype: float64